.structure {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  border: 1px solid #ccc;
  border-radius: 10px;

  padding: 20px;
  margin: 20px;
}
.structure > h2 {
  text-align: center; 
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  justify-items: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  width: 100%;
}
.details{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.selectWallet{
    width: 100%;               
    padding: 8px;              
    box-sizing: border-box;    
    
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;

    font-size: 1.2rem;
    text-transform: capitalize;
}
.walletOption{
    font-size: 1rem;
    text-transform: capitalize;
}
.balance{
    font-size: 2rem;
    font-weight: bolder;
}
.otherValues{
    font-size: 1.5rem;
    font-weight: bold;
}
p strong{
    font-size: 1.1rem;
    opacity: 0.9;
    color: #ccc;
}
.profileInfo{
  font-size: 1.5rem;
  font-weight: bold;
}
.name{
  text-transform: capitalize;
}
.loading-blur {
  filter: blur(4px);      
  opacity: 0.6;          
  user-select: none;      
  transition: filter 0.3s ease;
}