.navbar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    background-color: #282c34;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
.tabs {
    display: flex;
    gap: 4rem;
    margin-left: 2rem;
    flex-grow: 1;
    justify-content: center;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
#logoImage {
    height: 60px;
    width: 60px;
}
.logoText {
    font-size: 1.2rem;
    font-weight: bold;
}