.structure {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.structure > h2 {
  text-align: center; 
}
.row {
  display: flex;
  flex-direction: row;
  
  justify-items: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 20px;
}
.walletInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.profileDetails{
    flex: 2;
    display: flex;
    flex-direction: column;
}